<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<targets async="true">
    <target name="logconsole" xsi:type="coloredconsole"></target>
    <target xsi:type="File" name="jsonFile" fileName="C:\Logs\NLog\JsonLog.log">
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}"/>
        <attribute name="level" layout="${level}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="eventProperties" encode="false">
          <layout type="JsonLayout" includeAllProperties="true" />
        </attribute>
      </layout>
    </target>
  </targets>-->

  <!--<targets async="true">
    <target name="DatabaseLog" xsi:type="Database">
      <connectionString>Data Source = TAJERBASHI; Initial Catalog = Design_Pattern_DB ; User ID = sa ; Password = 123123 ; MultipleActiveResultSets = true ; TrustServerCertificate = True ;</connectionString>
      <commandText>
        INSERT INTO [LOG].[Logger]
        ([ControllerName]
        ,[MethodControllerName]
        ,[MethodControllerParameters]
        ,[ServiceName]
        ,[MethodServiceName]
        ,[Request]
        ,[Response]
        ,[DateTime])
        VALUES
        (
        @ControllerName,
        @MethodControllerName,
        @MethodControllerParameters,
        @ServiceName,
        @MethodServiceName,
        @Request,
        @Response,
        @DateTime)
      </commandText>
      <parameter name="@ControllerName" layout="${level}"/>
      <parameter name="@MethodControllerName" layout="${MethodControllerName}"/>
      <parameter name="@MethodControllerParameters" layout="${MethodControllerParameters}"/>
      <parameter name="@ServiceName" layout="${ServiceName}"/>
      <parameter name="@MethodServiceName" layout="${callsite}"/>
      <parameter name="@Request" layout="${Request}"/>
      <parameter name="@Response" layout="${Response}"/>
      <parameter name="@DateTime" layout="${date}"/>
    </target>
  </targets>-->

  <targets>
    <target xsi:type="Database" 
            name="database"
            connectionString="server=TAJERBASHI;Database=Design_Pattern_DB;user id=sa;password=123123"
            commandText="insert into dbo.Log ( MachineName, Logged, Level, Message, Logger, Exception ) values ( @MachineName, @Logged, @Level, @Message, @Logger, @Exception)"
            >
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>
  <rules>
    <!--<logger name="*" writeTo="logconsole"></logger>-->
    <!--<logger name="*" Level="Trace" writeTo="logconsole"></logger>-->
    <!--<logger name="*" writeTo="jsonFile"></logger>-->
    <!--<logger name="*" writeTo="DatabaseLog"></logger>-->
    <logger name="*" minlevel="Trace" writeTo="database"></logger>
  </rules>

</nlog>