<div class="top-row navbar navbar-dark d-flex flex-column justify-content-center align-items-center">
    <a class="navbar-brand" href="">Design Patterns</a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-link-icon bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="nav-link-icon bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item-divider"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="singleton">
                <span><i class="nav-link-icon bi bi-shield-fill-check "></i></span> <span>Singleton</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="factoryMethod">
                <span><i class="nav-link-icon bi bi-gear-fill "></i></span> <span>Factory Method</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="abstractFactory">
                <span><i class="nav-link-icon bi bi-box-seam "></i></span> <span>Abstract Factory</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="builder">
                <span><i class="nav-link-icon bi bi-bricks "></i></span> <span>Builder</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prototype">
                <span> <i class="nav-link-icon bi bi-files "></i> </span><span>Prototype</span>
            </NavLink>
        </div>
        <div class="nav-item-divider"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adapter">
                <span><i class="nav-link-icon bi bi-puzzle-fill "></i></span> <spa>Adapter</spa>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bridge">
                <span><i class="nav-link-icon bi bi-bridge "></i></span> <span>Bridge</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="composite">
                <span><i class="nav-link-icon bi bi-diagram-3-fill "></i></span> <span>Composite</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="decorator">
                <span><i class="nav-link-icon bi bi-paint-bucket-fill "></i></span> <span>Decorator</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="facade">
                <span><i class="nav-link-icon bi bi-door-closed-fill "></i> </span><span>Facade</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flyweight">
                <span><i class="nav-link-icon bi bi-box-fill "></i></span> <span>Flyweight</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span> <i class="nav-link-icon bi bi-person-check-fill "></i> </span><span>Proxy</span>
            </NavLink>
        </div>
        <div class="nav-item-divider"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chainOfResponsibility">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>ChainOfResponsibility</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="command">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>
                    Command
                </span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interpreter">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>Interpreter</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iterator">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>Iterator</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mediator">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>Mediator</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="memento">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>Memento</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="observer">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>Observer</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="state">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>State</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="strategy">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>Strategy</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templateMethod">
                <span class="nav-link-icon bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span>TemplateMethod</span>
            </NavLink>
        </div>
    </nav>
</div>

