<div class="top-row navbar navbar-dark d-flex flex-column justify-content-center align-items-center">
    <a class="navbar-brand" href="">Design Patterns</a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item-divider"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="singleton">
                <i class="bi bi-shield-fill-check me-2"></i> Singleton
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="factoryMethod">
                <i class="bi bi-gear-fill me-2"></i> Factory Method
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="abstractFactory">
                <i class="bi bi-box-seam me-2"></i> Abstract Factory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="builder">
                <i class="bi bi-bricks me-2"></i> Builder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prototype">
                <i class="bi bi-files me-2"></i> Prototype
            </NavLink>
        </div>
        <div class="nav-item-divider"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adapter">
                <i class="bi bi-puzzle-fill me-2"></i> Adapter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bridge">
                <i class="bi bi-bridge me-2"></i> Bridge
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="composite">
                <i class="bi bi-diagram-3-fill me-2"></i> Composite
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="decorator">
                <i class="bi bi-paint-bucket-fill me-2"></i> Decorator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="facade">
                <i class="bi bi-door-closed-fill me-2"></i> Facade
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flyweight">
                <i class="bi bi-box-fill me-2"></i> Flyweight
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <i class="bi bi-person-check-fill me-2"></i> Proxy
            </NavLink>
        </div>
        <div class="nav-item-divider"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ChainOfResponsibility
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Command
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Interpreter
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Iterator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mediator
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Memento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Observer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> State
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Strategy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TemplateMethod
            </NavLink>
        </div>
    </nav>
</div>

