<div class="top-row navbar navbar-dark d-flex flex-column justify-content-center align-items-center">
    <a class="navbar-brand" href="">Design Patterns</a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span><i class="nav-link-icon bi bi-layout-wtf"></i></span> <span>Dashboard</span>
            </NavLink>
        </div>
        <div class="nav-item-divider"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="singleton">
                <span><i class="nav-link-icon bi bi-shield-fill-check "></i></span> <span>Singleton</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="factoryMethod">
                <span><i class="nav-link-icon bi bi-gear-fill "></i></span> <span>Factory Method</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="abstractFactory">
                <span><i class="nav-link-icon bi bi-box-seam "></i></span> <span>Abstract Factory</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="builder">
                <span><i class="nav-link-icon bi bi-bricks "></i></span> <span>Builder</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prototype">
                <span> <i class="nav-link-icon bi bi-files "></i> </span><span>Prototype</span>
            </NavLink>
        </div>
        <div class="nav-item-divider"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adapter">
                <span><i class="nav-link-icon bi bi-puzzle-fill "></i></span> <spa>Adapter</spa>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bridge">
                <span><i class="nav-link-icon bi bi-bricks "></i></span> <span>Bridge</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="composite">
                <span><i class="nav-link-icon bi bi-diagram-3-fill "></i></span> <span>Composite</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="decorator">
                <span><i class="nav-link-icon bi bi-window-dock "></i></span> <span>Decorator</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="facade">
                <span><i class="nav-link-icon bi bi-door-closed-fill "></i> </span><span>Facade</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flyweight">
                <span><i class="nav-link-icon bi bi-box-fill "></i></span> <span>Flyweight</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proxy">
                <span> <i class="nav-link-icon bi bi-person-check-fill "></i> </span><span>Proxy</span>
            </NavLink>
        </div>
        <div class="nav-item-divider"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chainOfResponsibility">
                <span><i class="nav-link-icon bi bi-bounding-box "></i></span> <span>ChainOfResponsibility</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="command">
                <span><i class="nav-link-icon bi bi-command "></i></span> <span>Command</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interpreter">
                <span><i class="nav-link-icon bi bi-terminal "></i></span> <span>Interpreter</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iterator">
                <span><i class="nav-link-icon bi bi-list-ol "></i></span> <span>Iterator</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mediator">
                <span><i class="nav-link-icon bi bi-airplane-engines"></i></span> <span>Mediator</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="memento">
                <span><i class="nav-link-icon bi bi-stack"></i></span> <span>Memento</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="observer">
                <span><i class="nav-link-icon bi bi-bezier"></i></span> <span>Observer</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="state">
                <span><i class="nav-link-icon bi bi-view-stacked "></i></span> <span>State</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="strategy">
                <span><i class="nav-link-icon bi bi-globe-asia-australia "></i></span> <span>Strategy</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templateMethod">
                <span><i class="nav-link-icon bi bi-back "></i></span> <span>TemplateMethod</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    public class MenuItem
    {
        public string Title { get; set; } = string.Empty;
        public string Icon { get; set; } = string.Empty; // Bootstrap icon classes
        public string Href { get; set; } = string.Empty;
        public bool IsDivider { get; set; } = false;
    }
    public List<MenuItem> Children { get; set; } = new();
    protected override void OnInitialized()
    {
        Children = new List<MenuItem>
        {
            new MenuItem { Title = "Home", Href = "", Icon = "bi bi-house-door-fill" },
            new MenuItem { Title = "Counter", Href = "counter", Icon = "bi bi-plus-square-fill" },
            new MenuItem { Title = "Weather", Href = "weather", Icon = "bi bi-list-nested" },
            new MenuItem { IsDivider = true },
            new MenuItem { Title = "Dashboard", Href = "dashboard", Icon = "bi bi-layout-wtf" },
            // Design Patterns
            new MenuItem { IsDivider = true },
            new MenuItem { Title = "Singleton", Href = "singleton", Icon = "bi bi-shield-fill-check" },
            new MenuItem { Title = "Factory Method", Href = "factoryMethod", Icon = "bi bi-gear-fill" },
            new MenuItem { Title = "Abstract Factory", Href = "abstractFactory", Icon = "bi bi-box-seam" },
            // Add more items as needed
        };

    }
}